<section id="aboutUs" class="bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-4">
                <div class="about-img">
                    <img src="img/bg-about.png" alt="About Us">
                </div>
            </div>

            <div class="col-sm-12 col-md-8">
                <div class="about-content">
                    <h2 class="text-center">Our Story</h2>
                    <hr class="titleborder">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in veritatis distinctio? Reiciendis cum harum in, magni aspernatur minus nesciunt. Earum, iure! Dolore numquam aspernatur voluptatum pariatur possimus maiores id.</p>
                </div>
            </div>
            
        </div>
    </div>
</section>