<div id="foot-menu">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="about-section">
          <h5 class="display-5">Grand Restaurant</h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="sitemap">
          <h5 class="display-5">Sitemap</h5>
          <ul class="sitmap-list">
            <li><a href="#">What we do</a></li>
            <li><a href="#">Who we are</a></li>
            <li><a href="#">projects</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="category">
            <h5 class="display-5">Category</h5>
            <ul class="category-item">
              <li><a href="#">Concerting</a></li>
              <li><a href="#">Decoration</a></li>
              <li><a href="#">Building</a></li>
            </ul>
        </div>
      </div>

      <div class="col-md-2">
          <div class="footermenu">
            <h5 class="display-5">Menu</h5>
            <ul class="menu-item">
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li>Projects</li>
            </ul>
          </div>
      </div>

      <div class="col-md-2">
        <div class="footer-contact">
          <h5 class="display-5">Contact Us</h5>
          <ul class="contact-item">
            <li><i class="fa fa-phone"></i><a href="#">1800-000-9000</a></li>
            <li><i class="fa fa-paper-plane-o"></i><a href="#">1900 Liberty Bell</a></li>
            <li><i class="fa fa-envelope-o"></i><a href="#">info@domian.com</a></li>
          </ul>
        </div>
    </div>
    </div>
  </div>
</div>

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="copyright">
          <p>&copy;All Right Reserved 2018</p>
        </div>
      </div>


      <div class="col-md-4">
        <div class="developer">
          <p>Developed By: AJ Digital Design</p>
        </div>
      </div>


      <div class="col-md-4">
        <ul class="social-icons">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>


      </div>
    </div>
  </div>
</footer>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/main.js" ></script>
  </body>
</html>