<section class="signaturerecipes">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="singnaturerecipes-content">
                    <h2>Signature Recepies</h2>
                    <hr class="title-border">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ad animi atque officiis. Nulla, culpa beatae modi eum necessitatibus hic optio distinctio dolore, aliquam numquam laboriosam. Modi libero temporibus cumque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati consequatur maiores incidunt dicta minus omnis accusantium recusandae qui perspiciatis dolor. Itaque quis placeat, quasi exercitationem tenetur deserunt deleniti similique quibusdam.</p>
                </div>
            </div>
        </div>
    </div>
</section>